@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 4px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #88888857;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}